# local package
-e .

# requirements
pettingzoo[mpe]
ray[rllib]
pandas
wandb
moviepy
pathvalidate

# --extra-index-url https://download.pytorch.org/whl/cu116
torch 
torchvision 
torchaudio 

# dev requirements
black
isort
# awscli
ipykernel

# external requirements
click
tqdm
Sphinx
sphinx-click
myst-parser
sphinx-rtd-theme
sphinxcontrib-mermaid
python-dotenv>=0.5.1

# backwards compatibility
pathlib2
