# local package
-e .

# requirements


# dev requirements
black
isort
awscli

# external requirements
click
tqdm
Sphinx
myst-parser
sphinx-rtd-theme
sphinxcontrib-mermaid
python-dotenv>=0.5.1

# backwards compatibility
pathlib2
